<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GDP Tech Radar Editor</title>
    <script src="/assets/jsoneditor.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <h1>GDP Tech Radar Editor</h1>

    <input type="hidden" id="titleField" value="{{title}}">
    <input type="hidden" id="groupField" value="{{group}}">
    {{#unless isAdd}}<input type="hidden" id="docField" value="{{doc}}">{{/unless}}
    {{#unless isAdd}}<input type="hidden" id="idField" value="{{id}}">{{/unless}}
    
    <a href="/" title="Return to chart view"><span id="back" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>

    <div id='editor_holder'></div>
    <button id='submitReturn' type="button" class="btn btn-default">Submit and return to chart</button>
    <button id='submit' type="button" class="btn btn-default">Submit and continue</button>
    {{#unless isAdd}}<br /><button id='delete' type="button" class="btn btn-danger">Delete</button>{{/unless}}
    
    <script type="text/javascript" src="/assets/crud_script.js"></script>
  </body>
</html>