<html>
    <head></head>
    <body>
        <ul>
            <li>GET <a href="/chart">/chart</a> - tech radar lifespan chart.</li>
            <li>GET <a href="/all">/all</a> - fetch all records.</li>
            <li>GET <a href="/name/shak-ng">/name/{app_name}</a> - fetch records by name, e.g. shak-ng.</li>
            <li>GET <a href="/status/use">/status/{status}</a> - fetch records by status, e.g. use.</li>
            <li>GET <a href="/lifespan/3">/lifespan/{lifespan}</a> - fetch records by lifespan, e.g. 3.</li>
        </ul>
    </body>
</html>